:root {
    font-family: "Inter", "Orbitron", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    user-select: none;
}

body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle , var(--background-gradient-start), var(--background-gradient-mid), var(--background-gradient-end));
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, var(--futurist-accent), var(--button-gradient-end));
    color: var(--button-text-color);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px var(--button-shadow);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 0.25s ease;
    position: relative;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px var(--button-shadow);
}

input {
    width: 92%;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    border: 1px solid var(--futurist-border);
    outline: none;
    font-size: 1rem;
    transition:
            border-color 0.3s,
            box-shadow 0.3s;
    background-color: var(--futurist-input-bg);
    color: var(--futurist-text-light);
}

input:focus {
    border-color: var(--futurist-accent);
    box-shadow: 0 0 8px var(--futurist-accent);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--futurist-accent);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::selection {
    background: var(--futurist-accent);
    color: var(--selection-color);
}
